  .profilePhoto {
    display: block;
    padding: 1vw;
    max-width: 50%;
    width: auto;
    height: auto;
    margin: auto;
  }
  
  .greyColorBackground {
    background-color: #f3f3f3;
  }
  
  .greyText {
    color: #767777;
  }
  
  .profileBackground {
    background: url('../images/technology.jpg');
    background-size: 100%;
  }
  
  .centerStage {
    margin: 10px auto;
  }
  
  .demo-card-wide.mdl-card {
    width: 500px;
  }
  
  .demo-card-wide>.mdl-card__pieTitle {
    color: #fff;
    height: 256px;
    background: url('../images/FeatGraphicPieYourFriends.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip: auto;
  }
  
  .demo-card-wide>.mdl-card__timerTitle {
    color: #fff;
    height: 256px;
    background: url('../images/FeatureGraphicBehavioralTimer.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip: auto;
  }
  
  .demo-card-wide>.mdl-card__kingsTitle {
    color: #fff;
    height: 256px;
    background: url('../images/FeatureGraphicKingsCup.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip: auto;
  }
  
  .demo-card-wide>.mdl-card__iiwiiTitle {
    color: #fff;
    height: 256px;
    background: url('../images/FeatGraphicIIWII.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip: auto;
  }
  
  .demo-card-wide>.mdl-card__bgInfoTitle {
    color: #fff;
    height: 176px;
    background: url('https://placeimg.com/512/176/nature') center / cover;
    bottom: 0;
  }
  
  .demo-card-wide>.mdl-card__progTitle {
    color: #fff;
    height: 176px;
    background: url('https://placeimg.com/512/176/tech') center / cover;
  }
  
  .demo-card-wide>.mdl-card__experienceTitle {
    color: #fff;
    height: 176px;
    background: url('https://placeimg.com/512/176/nature/sepia') center / cover;
  }
  
  .blackOpaqueTextBackground {
    height: 24px;
    width: 500px;
    padding: 16px;
    top: 120px;
    position: absolute;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .demo-card-wide>.mdl-card__menu {
    color: #fff;
  }
  
  .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
  }
  
  .viewportFullscreen {
    height: 100%;
    position: relative;
  }
  
  .verticalCenter {
    top: 50%;
    position: relative;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .italics {
    font-style: italic;
    margin: auto;
  }
  
  .bottomBarrel {
    position: absolute;
    margin: auto;
    bottom: 0;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    font-size: 14px;
    padding: 1px;
    margin: 1px;
  }
  
  .indentTitle{
    margin: 1px;
    padding-left: 1em;
    text-indent: -1em;
  }
  
  table {
    border-collapse: collapse;
    width:100%;
    display:block;
}

td, th {

    text-align: left;
    display:inline-block;
    margin-left: 35px;
}

::-webkit-scrollbar { 
    display: none; 
}